PORT=8080
DATABASE_URL=postgresql://postgres.xxxxx:YOUR_DB_PASSWORD@aws-xxxx.pooler.supabase.com:6543/postgres
DATABASE_POOL_SIZE=5
IVRM_SERVER_SECRET=change-me
IVRM_SERVER_SECRET_IVRM_CRAFT=change-me
